.custom-modal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Adjust modal size as needed */
.custom-modal .modal-dialog.custom-modal {
  max-width: 80%; /* You can adjust this value */
  width: auto;
}

/* Remove the black background */
.custom-modal .modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

/* Add padding to the modal body */
.custom-modal .modal-body {
  padding: 20px;
}
